<div class="login_background" ng-controller="loginCtrl">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="login_form">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd">
                </div>
                <button type="button" ng-click="loginUser()" class="btn btn-primary login_form_button">Submit</button>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>