<div ng-controller="mainCtrl">
    <div class="row">
        <div class="main_sidebar">
            <div class="main_sidebar_link">
                <div class="main_sidebar_link_center">
                    <span><i class="material-icons tiny">dashboard</i></span>
                    <span>Dashboard</span>
                </div>
            </div>
            <div class="main_sidebar_link">
                <div class="main_sidebar_link_center">
                    <span>Applicants</span>
                </div>
            </div>
            <div class="main_sidebar_link">
                <div class="main_sidebar_link_center">
                    <span>Employees</span>
                </div>
            </div>
            <div class="main_sidebar_link">
                <div class="main_sidebar_link_center">
                    <span>Projects</span>
                </div>
            </div>
            <div class="main_sidebar_link">
                <div class="main_sidebar_link_center">
                    <span>Leaves</span>
                </div>
            </div>
            <div class="main_sidebar_link">
                <div class="main_sidebar_link_center">
                    <span>Profile</span>
                </div>
            </div>

        </div>
        <div class="main_currentpage">
            <ng-view>

            </ng-view>
        </div>
    </div>
</div>